.logo{
    width: 70px;
    float: left;
    align-items: center;
}
.navbar{
    background-color: hsla(120, 100%, 30%, 0.3);
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.items li a{
    font-size: 50px;
    font-family: 'Hurricane', cursive;
    margin: 0px 10px;
    display: inline-block;
    align-items: center;
    text-decoration: none;  
    color: #ff3434;
}
.items li a:active{
    background-color: hsla(120, 100%, 30%, 0.1);    
}
.carrito{
    width: 70px;
    float: left;
    align-items: center;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px ;
}
.agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.card{
    display: grid;
    float: left;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    width: 24.5em;
}
.cartwidget{
    display: flex;
    align-items: center;
}
.card-detalle{
    display: grid;
    justify-items: center;
}
.botonDetalle{
    justify-items: center;
    margin: 10px;
}





