body{
    background: radial-gradient(circle, blue);
}

.logo{
    width: 70px;
    float: left;
    align-items: center;
}

.navbar{
    background-color: hsla(120, 100%, 30%, 0.3);
}

.navbar div a{
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.items li a{
    font-size: 50px;
    font-family: 'Hurricane', cursive;
    margin: 10px;
    display: inline-block;
    align-items: center;
    text-decoration: none;  
    color: #ff3434;
}

.items li a:active{
    background-color: hsla(120, 100%, 30%, 0.1);    
}

.categorias{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 30px;
    font-family: 'Hurricane', cursive;
    align-items: center;
}

.categorias li a{
    text-decoration: none; 
    color: #ff3434;
    margin: 10px;
    font-size: 50px;
}

.categorias li a:active{
    background-color: hsla(120, 100%, 30%, 0.1);    
}

.carrito{
    width: 70px;
    float: left;
    align-items: center;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px ;
}

.botonFinalizar{
    font-size: 20px;
    text-decoration: none;
    justify-items: center;
    margin: 10px;
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    justify-items: center;
    /* display: flex; */
    justify-content: center;
}

.agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.agregar button{
    border-radius: 100px;
    font-size: 20px;
    background-color: #198754;
    color: white;
}
.card{
    display: grid;
    float: left;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    width: 24.5em;
}

.cartwidget{
    display: flex;
    align-items: center;
}
.cartwidget b{
    font-size: 30px;
}

.card-detalle{
    display: grid;
    justify-items: center;
}
.cardCarrito{
    object-fit: contain;
    max-width: 100%;
}

.botonDetalle{
    font-size: 20px;
    text-decoration: none;
    justify-items: center;
    margin: 10px;
    background-color: rgba(0,0,260,0.9);
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    justify-items: center;
    display: flex;
    justify-content: center;
}

.botonDetalle:hover{
    color: white;
}
.botonCart{
    font-size: 20px;
    text-decoration: none;
    justify-items: center;
    margin: 10px;
    background-color: rgba(0,0,260,0.9);
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    justify-items: center;
    /* display: flex; */
    justify-content: center;
}

.home{
    background-color: hsla(120, 100%, 30%, 0.1);
    padding: 5px 20px;
    border-radius: 100px;
}




